@import "../../base";

.list {
    color: $txtcolor;

    button {
        border: none;
        cursor: pointer;
        color: inherit;
        &:hover {
            transform: scale(1.1);
        }
    }
}
.buttons {
    display: flex;
    justify-content: space-around;
}
