@import "../../base";

.list {
    color: $txtcolor;

    @extend %button;
    // button {
    //     border: none;
    //     cursor: pointer;
    //     color: inherit;
    //     &:hover {
    //         transform: scale(1.1);
    //     }
    // };
}
.buttons {
    display: flex;
    justify-content: space-around;
}
