$bgcolor: #eeeeee;
$txtcolor: #222831;

body {
    margin: 0;
    background-color: $bgcolor;
    color: $txtcolor;
}

* {
    box-sizing: border-box;
}

.App {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media (max-width: 850px) {
        grid-template-columns: 1fr;
    }
}

.lists {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;

    & > :first-child {
        border-right: 1px solid $txtcolor;
    }

    @media (max-width: 600px) {
        grid-template-columns: 1fr;
    }

    .list {
        color: $txtcolor;

        button {
            border: none;
            cursor: pointer;
            color: inherit;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    .buttons {
        display: flex;
        justify-content: space-around;
    }

    .listPost {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .del {
        i {
            font-size: 1.5rem;
        }
    }
}
