$bgcolor: #eeeeee;
$txtcolor: #222831;

.main {
    padding: 1rem;
    padding-top: 0;

    .post {
        margin: 1rem 0;
        border: 1px solid $txtcolor;
        border-radius: 1rem;
        padding: 0 1rem;
    }

    .disabled {
        background-color: #da0037;
        color: white;
    }

    .title {
        text-align: center;
    }

    .description {
        text-indent: 1rem;
        text-align: justify;
    }

    .comment {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}
